# === File Classification ===

* text=auto

*.sh        text eol=lf
*.py        text eol=lf
Makefile    text eol=lf

# === Metadata ===

# --- GitHub linguist: generated outputs ---
poetry.lock         linguist-generated
package-lock.json   linguist-generated
CHANGELOG.md        linguist-generated merge=union
